.services {
    position: relative;
    top: var(--header-height);
}

.services-container {
    display: flex;
    flex-direction: column;
    width: min(80%, 1600px);
    margin: auto;
}
.services-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    gap: 18px;
    margin: auto;
}
.services-title {
    color: var(--blanco);
    font-size: 40px;
}
.services-subtitle {
    color: var(--gris);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}

@media screen and (max-width: 1100px) {
    .services {
        padding: 75px 0;
    }
    .services-container {
        width: 90%;
    }
    .services-text {
        width: 100%;
    }
    .services-cards {
        flex-direction: column;
    }
}